.App-body {
  padding: 50px;
  font-size: 1.5rem;
  height: 59vh;
}

#email,
#password {
  margin: 0 15px;
}

button.ok {
  min-width: 50px;
  min-height: 30px;
  font-weight: bold;
  background-color: white;
  color: #e1003c;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

button.ok:hover {
  background-color: #e1003c;
  color: white;
}

button.ok:active {
  background-color: #8e0127;
}